:root{ /* is used to store variables */
    
    --form-div-width:           200px;
    --top-bar-height:           42px;
    --top-bar-icon-size:        32px;
    --top-bar-icon-size-small:  18px;
    --top-bar-center-icon:      calc(calc(var(--top-bar-height)/2) - calc(var(--top-bar-icon-size)/2));
    --top-bar-center-icon-small:calc(calc(var(--top-bar-height)/2) - calc(var(--top-bar-icon-size-small)/1.1));
    
    --body-background-colour:   #333;
    --top-bar-colour:           #272727;
    --text-colour:              #919191;
    --item-colour-1:            #ff652f;
    --item-colour-2:            #ffe400;
    --item-colour-3:            #14a76c;
    --item-colour-3-shadow:     #155f42;
}

@font-face {
    font-family: steelfish;
    src: url("../fonts/steelfish_rg.ttf");
}

body{
    background-color: var(--body-background-colour);
}

p, h1, h2, h3, h4, h5, h6, form{
    font-family: steelfish;
    color: var(--text-colour);
}

.bar{
    z-index: 1;
    position: fixed;
    height: var(--top-bar-height);
    width: 100%;
    background-color: var(--top-bar-colour);
}

.menu-entry{
    float:right;
}

.menu-item{
    font-size: var(--top-bar-icon-size);
    margin-top: var(--top-bar-center-icon);
    margin-right: var(--top-bar-center-icon);
    color: var(--item-colour-1);
}
.menu-item-small{
    font-size: var(--top-bar-icon-size-small);
    margin-top: var(--top-bar-center-icon-small);
    margin-right: var(--top-bar-center-icon-small);
    color: var(--item-colour-1);
}

.menu-item:hover, .menu-item-small:hover{
    cursor: pointer;
}

.loginFormDecor{
    height: 225px;
    width: 200px;
    position: absolute;
    z-index: 15;
    background-color: var(--item-colour-3);
    border-radius: 5%;
}

.loginForm{
    height: 215px;
    width: 190px;
    display:block;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
    z-index: 15;
    background-color: var(--top-bar-colour);
    border-radius: 5%;
    text-align: center;
    font-size: 32px;
}

#loginContainer{
    transition: 0.5s ease-out;
    margin-top: calc(var(--top-bar-height) + 24px);
    margin-left: calc(100% - calc(var(--form-div-width) + 24px));
    opacity: 0;
}

#loginContainer.active{
    transition: 0.5s ease-out;
    margin-top: calc(var(--top-bar-height) + 24px);
    margin-left: calc(100% - calc(var(--form-div-width) + 24px));
    opacity: 100;
}

.loginForm input{
    width: calc(100% - 12px);
    height:30px;
    text-align: center;
    font-family: steelfish;
    font-size: 22px;
}

.loginForm button{
    transition: 0.1s ease-in;
    width: calc(100%);
    height: 42px;
    border: none;
    font-family: steelfish;
    font-size: 32px;
    color:var(--item-colour-3-shadow);
    background-color: var(--item-colour-3);
    margin-top:16px;
}

.loginForm button:hover{
    transition: 0.1s ease-out;
    background-color: var(--item-colour-3-shadow);
    color:var(--item-colour-3);
    cursor: pointer;
}

.main{
    margin-top: var(--top-bar-height);
    position: absolute;
    height:calc(100% - var(--top-bar-height));
    width:100%;
}

.main p{
    font-size: 20px;
}

.main h1{
    font-size: 42px;
}
.main h2{
    font-size: 30px;
}

.product{
    text-align: center;
    background-color: var(--item-colour-3);
    width: 300px;
    height:450px;
    float:left;
    position: relative;
    display:block;
    margin-left: 28px;
    margin-top: 28px; 
}

.product:hover{
    cursor: pointer;
}

.product img{
    z-index: 0;
}

.product p,.product h1,.product h2{
    z-index: 1;
    margin-top: -450px;
    color: var(--item-colour-3-shadow);
}